<div class="container mt-5">
    <div class="card" style="width: 400px; margin: 0 auto;">
      <div class="card-header">
        <h2 class="text-center">Register</h2>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" required [(ngModel)]="username" name="username" class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" required [(ngModel)]="password" name="password" class="form-control">
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary" style="padding-top: 6px;margin-top: 9px;">Register</button>
          </div>
        </form>
      </div>
      <div class="card-footer text-center">
        <p class="mb-0">Already have an account?</p>
        <button class="btn btn-link" routerLink="/login">Login</button>
      </div>
    </div>
  </div>
  